* {
	margin:0;
	padding:0;
}

header, footer {
	width:100%;
}

h1,h2 {
	font-family:helvetica, arial, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1.5em;
	background-color:rgba(255,255,255,.9);
	padding:.2em;
	color:black;
}

h2 {
	position:fixed;
	bottom:0;
}

a {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

body {
	background-repeat:no-repeat;
	background-size:cover;
}

@media all and (orientation:portrait) {
	body {
		background-image:url(/images/portrait.jpg);
	}
}
@media all and (orientation:landscape) {
	body {
		background-image:url(/images/landscape.jpg);
	}
}